<html>

<head>
	<title>
		KeDesa
	</title>
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.transform-center {
			position: absolute;
			display: block;
			left: 50%;
			transform: translate(-50%, 0);
		}

		.table-grip-hidden {
			outline: hidden;
			border: hidden;
		}

		.top-bar {
			background-color: #cfcfcf;
			height: 100px;
			margin: 0;
		}

		.content {
			background-color: #efefef;
			height: 100%;
			margin: 0;
			padding: 0;
		}

	</style>
</head>

<body>
	<div class="col text-center">
		<div class="content">
			<h1 class="nav-tabs top-bar display-2 mb-lg-2">Rekayasa Perangkat Lunak</h1>
			<blockquote>
				<p class="blockquote fs-3">Anggota kelompok 1</p>
			</blockquote>
			<figcaption class="transform-center">
				<p class="lead">DAFTAR ANGGOTA</p>
				<table class="lead">
					<thead>
						<hr>
						</hr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td>Agung Gumelar</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Muhammad Alda</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>List Ketiga</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>List Keempat</td>
						</tr>
					</tbody>
				</table>

				<a class="btn btn-secondary mt-3 transform-center" href="./">Beranda</a>
			</figcaption>
		</div>


	</div>

</body>

<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>
